.hasborder {
    border: 1px solid black;
    background-color: #DDD;
}

.optionbox{
  width: auto !important;
}

.optionbox > .ui-block-a {
    text-align: right;
    width: 8em !important;
    padding: 15px 4px 4px 4px;
}

.optionbox > .ui-block-b {
  width: calc(100% - 8em) !important;
}

.topborder {
    border-top: 1px solid black;
}

.smartwrap > label {
    white-space:nowrap;
}

table {
    border-collapse: collapse;
}

input {
    margin-right: 12px;
}

input[type=checkbox] {
    transform: scale(1.2);
}

.leftheader {
}

.dim {
    color: #999;
}

.hiddencode {
    display:none;
    font-size: small;
}

body {
    font-family: sans-serif;
}

h1 {
    color: #b80;
    font-variant: small-caps;
    margin: 0px 0px 8px 0px;
}

.titletopper {
    margin: 0px;
    padding: 0px;
    color: #b80;
    font-variant: small-caps;
    font-weight: bold;
}

#colinlinks {
    padding: 6px;
}

#colinlinks p {
    margin: 0px;
}
